@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import "tailwindcss";


@theme{

    --color-black-100: #000000;
    --color-white-100: #F2F0F1;
}

@layer base{
    body{
        background-color: var(--color-white-100);
        font-family: "Inter", sans-serif;
    }
    h1,h2,h3,h4,h5,h6{
        font-family: "Poppins", sans-serif;
    }
}

@layer components {
    @keyframes spin {
         from{
            transform: rotate(0,
                0,
                0,
                0deg);
         }
         to{
            transform: rotate(360deg);
         }
    }
    .spin{
        animation: spin 30s linear infinite;
    }

    @keyframes spin1 {
         from{
            transform: rotateY(0deg)
         }
         to{    
            transform: rotateY(36deg);
         }
    }
    .spin1{
        animation: spin1 10s linear infinite;
    }

    .active{
        color: blueviolet;
        text-decoration: underline;
    }
}

/* Chrome, Safari */
.custom-color::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 50%;
}

.custom-color::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

/* Firefox */
.custom-color::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

.login-bg{
    background-image: url("/images/login-BG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;


}
 
